{% load staticfiles %}

<table class="table table-striped table-hover" id='object-table'>
  
  <thead>
    <tr class='header'>
      <th onclick="sortTable(0)" scope="col"><a>Name</a></th>
      <th onclick="sortTable(1)" scope="col"><a>Category</a></th>
      <th onclick="sortTable(2)" scope="col"><a>Positions</a></th>
      <th onclick="sortTable(3)" scope="col"><a>Bar</a></th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  
  <tbody>
  {% for location in locations %}
    <tr>
      <td>{{location.title}}</td>
      <td>{{location.category}}</td>
      <td>{{location.positions_length}}</td>
      <td>{% include 'base/boolean.html' with bool=location.bar %}</td>
      {% include 'objects/list-display/edit-delete.html' with id=location.id %}
    </tr>
  {% endfor %}
  </tbody>

</table>