{% load staticfiles %}
{% regroup events by event_category as active_list %}
{% for event_category in active_list %}

<div class='event-row py-3 px-3 mb-4'>
  <a class='multi-header text-uppercase mb-3'>{% cycle 'Upcoming Events' 'Previous Events' %}</a>
  <table class="table table-sm table-striped table-hover" id="{% cycle 'upcoming-events' 'previous-events' %}">
    <thead>
      <tr class='header text-center'>
        {% if forloop.first %}
        <th onclick="sortTable(0,'upcoming-events')" scope="col" class='text-left'><a>Event</a></th>
        <th onclick="sortTable(1,'upcoming-events')" scope="col" class='text-left' id='date'><a>Date</a></th>
        <th onclick="sortTable(2,'upcoming-events')" scope="col" class='text-left'><a>Doors</a></th>
        <th onclick="sortTable(3,'upcoming-events')" scope="col"><a>Scheduled</a></th>
        <th onclick="sortTable(4,'upcoming-events')" scope="col"><a>Alcohol</a></th>
        <th scope="col">Edit</th>
        {% else %}
        <th onclick="sortTable(0, 'previous-events')" scope="col" class='text-left'><a>Event</a></th>
        <th onclick="sortTable(1, 'previous-events')" scope="col" class='text-left'><a>Date</a></th>
        <th onclick="sortTable(2, 'previous-events')" scope="col" class='text-left'><a>Doors</a></th>
        <th onclick="sortTable(3, 'previous-events')" scope="col"><a>Scheduled</a></th>
        <th onclick="sortTable(4, 'previous-events')" scope="col"><a>Alcohol</a></th>
        <th scope="col">Edit</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
    {% for event in event_category.list %}
      <tr>
        <td><a href='/events/{{event.date|date:"Y/m/d/"}}{{event.slug}}'>{{event}}</a><br /></td>
        <td>{{event.date}}</td>
        <td>{{event.doors_open}}</td>
        <td class='text-center'>{% firstof event.schedule.scheduled '0' %}</td>
        <td class='text-center'>{% include 'base/boolean.html' with bool=event.alcohol %}</td>
        {% include 'objects/list-display/edit-delete.html' with id=event.id %}
      </tr>
      {% empty %}
      <tr>
        <td colspan="8" class="text-center">No Events</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endfor %}