{% extends "base/base.html" %}
{% load staticfiles %}
{% block content %}  

<div class="container">

  {% include 'events/event_header.html' %}
  
  <div class='card shadow' style='border-radius:8px;'>
    <div class='card-body mx-auto align-center'>
      
      <div class='row'>
        <div class='col col-12'>
          <h2>
            <span>Schedule</span>
            <button type="button" class="btn btn-dark float-right">Print</button>
            <button type="button" class="mx-2 btn btn-dark float-right">Export</button>
            <button type="button" class="btn btn-dark float-right">Email</button>
          </h2>
        </div>
      </div>
      <hr />
  
      <div class='row mx-auto'>
        <div class='col col-12'>
          <div class='card-columns'>
          {% for location in locations %}
            <div class="card bg-light mx-auto" style="width: 18rem;">
              
              <div class="card-header">
                <input class='mr-1' style='height:18px; width:18px;' type="checkbox" aria-label="Active Stand Checkbox" checked>
                <span>{{location.title}}</span>
                <div class='float-right ml-1' style='height:22px; width:22px;'>{% include '../img/002-add.svg' %}</div>
                <div class='float-right' style='height:22px; width:22px;'>{% include '../img/001-remove.svg' %}</div>
              </div>
            
        

              <div class="card-body">
              {% for position in location.position_set.all %}
                {% if forloop.last %}
                <div class='row mb-0'>{% else %}<div class='row mb-2'>
                {% endif %}
                <div class='col col-12'>
                <div class='input-group'>
                <div class="input-group-prepend">
                  <div class="input-group-text">{{position}}:</div>
                </div>
                    <select class="js-example-basic-single js-states form-control mb-3 float-right" name="Hello">
                    {% for employee in employees %}
                      {% if forloop.first %}<option></option>{% endif %}
                      <option value='{{employee.employee_id}}'>{{employee.name}}</option>
                    {% endfor %}
                    </select>
                  <br />
                  </div>
                  </div>
                </div>
              {% endfor %}
              </div>
              
            </div>
            <br />
          {% endfor %}
          </div>
          <hr />
        </div>
      </div>
      
    </div>
  </div>
</div>
{% endblock %}