{% extends "base/base.html" %}
{% load staticfiles %}
{% block content %}  
{% include 'create_object.html' with object_name='Event' %}
{% regroup events by expired as event_list %}

<div class="container">
  
  
    

  <div class='card shadow' style='border-radius:8px;'>
    <div class='card-body mx-4 align-center'>
      <div class='row'>
        <div class='col col-12'>
          <h2>
            <span class='title'>Events</span>
            <button type="button" class="btn add-object" data-toggle="modal" data-target="#exampleModal"><a>+</a></button>
            <button type="button" class="mx-2 btn btn-dark float-right">Export All</button>
            <input type="text" class="form-control float-right" id="myInput" onkeyup="myFunction()" placeholder="Search for Event..." style="width:25%;">
          </h2>
        </div>
      </div>
      <div class='row'>
        <div class='col col-12'>
        
        
        {% for expired in event_list %}
            {% if expired.grouper|stringformat:'s' == 'False' %}
            <div class='event-row pt-3 px-3 pb-1 mb-4'><a class='table-header'>Upcoming Events</a>
              {% include 'events/table.html' with events=expired.list %}
            </div>
            {% else %}
            <div class='event-row pt-3 px-3 pb-1 mb-3'><a class='table-header'>Previous Events</a>
              {% include 'events/table.html' with events=expired.list %}
            </div>
            {% endif %}
        {% endfor %}
    
          
          
        </div>
      </div>
      <hr />
      
    </div>
  </div>
</div>
{% endblock %}