{% load staticfiles %}
{% regroup events by expired as event_list %}
        
{% for expired in event_list %}
  {% if expired.grouper|stringformat:'s' == 'False' %}
    <div class='event-row py-3 px-3 mb-4'>
      <a class='table-header'>Upcoming Events</a>
      {% include 'events/table.html' with events=expired.list %}
    </div>
  {% else %}
    <div class='event-row py-3 px-3 mb-3'>
      <a class='table-header'>
        Previous Events
        <img class='chevron-down' src='{% static "events/img/down-chevron.svg" %}' alt="Down Chevron Icon"/>
      </a>
      {% include 'events/table.html' with events=expired.list %}
    </div>
  {% endif %}
{% endfor %}
