{% load staticfiles %}

<table class="table table-sm table-striped table-hover" id='eventTable'>
  
  <thead>
    <tr class='header' style='text-align:center;'>
      <th scope="col"></th>
      <th style="text-align:left;" scope="col">
          <img class='icon-search' src='{% static "events/img/search.svg" %}' alt="Search" />
          <input type="text" class="form-control" id="searchInput" onkeyup="myFunction()" placeholder="Event" style="width:90%;display:inline-block;padding-left:3px;" />
      </th>
      <th style="text-align:left;" scope="col">Date</th>
      <th scope="col">Doors Open</th>
      <th scope="col">Scheduled</th>
      <th scope="col">Alcohol</th>
    </tr>
  </thead>
  
  <tbody>
  {% for event in events %}
    <tr>
      <th scope="row">
        <button type="button" class="btn edit-object" data-toggle="modal" data-target="#editObject" id={{event.slug}}>
          <img class='icon-edit 'src='{% static "events/img/edit.svg" %}' alt="Edit Icon"/>
        </button>
      </th>
      <td><a href='/events/{{event.date|date:"Y/m/d/"}}{{event.slug}}' style='color:white;font-weight:600;'>{{event}}</a><br /></td>
      <td>{{event.date}}</td>
      <td style="text-align:center;">{{event.doors_open}}</td>
      <td style="text-align:center;">0</td>
      <td style="text-align:center;">{% include 'base/boolean.html' with bool=event.alcohol %}</td>
    </tr>
  {% endfor %}
  </tbody>

</table>