@import '../../events/static/events/scss/event-detail';

body {
  font-family: 'Open Sans';
  background: #F7F7F7;
  color: #1B142D;
}
a:focus, input:focus {
  box-shadow: none!important;
  outline: none!important;
}
.bg-black {background: #000}

.box-shadow {
  box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2)!important;
  transition: none;
  &:focus {color: rgb(51,51,51);}
}
.icon {
  background-image: url('../img/spritesheet.png');
  width: 32px;
  height: 32px;
}
.icon- {
  &true {background-position: -3px -111px;}
  &false {background-position: -117px -111px;}
  &create {background-position: -3px -3px; width: 64px; height: 64px;}
  &edit {background-position: -181px -41px;}
  &delete {background-position: -181px -79px;}
  &download {background-position: -73px -3px;}
  &display {background-position: -143px -41px;}
  &display.gradient {background-position: -181px -3px;}
  &locations {background-position: -41px -111px;}
  &locations.gradient {background-position: -143px -3px;}
  &arrival {background-position: -79px -111px;}
  &arrival.gradient {background-position: -41px -73px;}
  &employees {background-position: -3px -73px;}
  &employees.gradient {background-position: -79px -73px;}
}

#search-input {
  color: #000;
  font-weight: 700;
  background: #000;
  &::placeholder {color: #000; opacity: 1;}
  &:-ms-input-placeholder {color: #000;}
  &::-ms-input-placeholder {color: #000;}
}

.list-view {
  .single-header {
    font-weight: 300;
    font-size: 1.6em;
  }
  .multi-header {
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 24px;
    display: inline-block;
    text-align: center;
    width: 100%;
  }
}


