{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":2,"position":2,"stack":[[{"start":{"row":1,"column":12},"end":{"row":1,"column":13},"action":"remove","lines":["6"],"id":2}],[{"start":{"row":1,"column":12},"end":{"row":1,"column":13},"action":"insert","lines":["8"],"id":3}],[{"start":{"row":13,"column":11},"end":{"row":14,"column":0},"action":"remove","lines":["",""],"id":4}],[{"start":{"row":13,"column":10},"end":{"row":13,"column":11},"action":"remove","lines":["0"],"id":5},{"start":{"row":13,"column":9},"end":{"row":13,"column":10},"action":"remove","lines":["."]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":13,"column":9},"end":{"row":13,"column":11},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1540333528868,"hash":"dca017feea5f08a191e27a5dc0558303505f47c8"}