{% extends 'base/base.html' %}
{% load staticfiles %}
{% block content %}

<div class="container background-container">  
  <div class='card shadow-custom'>
    <div class='card-body mx-4 align-center'>
      <div class='row'>
        <div class='col col-12'>
          
          <h2 class='mb-3'>
            <span class='title'>{{objs}}</span>
            <div class="btn-group float-right ml-2" style="margin-top:11px;">
              <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Export
              </button>
              <div class="dropdown-menu">
              </div>
              
            </div>
            <div class="btn btn-dark float-right" style="margin-top:11px;" >Import</div>
            {% for object in object_list %}
              {{object}}
            {% endfor %}
            
         
          
          <div class="modal fade hide" id="modal-object" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content"></div>
            </div>
          </div>
         </h2>
          

          

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}