{% load staticfiles %}
{% regroup events by event_category as event_list %}
{% for event_category in event_list %}

<div class='event-row py-3 px-3 mb-4'>
  <a class='table-header'>{% cycle 'Upcoming Events' 'Previous Events' %}</a>
  <table class="table" id="object-table">
    <thead>
      <tr class='header text-center'>
        <th scope="col">
        </th>
        <th scope="col" class='text-left'>Date</th>
        <th scope="col">Doors Open</th>
        <th scope="col">Scheduled</th>
        <th scope="col">Alcohol</th>
      </tr>
    </thead>
    <tbody>
    {% for event in events %}
      <tr>
        <th scope="row">
        <button type="button" class="btn js-update-object" data-url="{% url 'event_update' event.id %}">
          <img class='icon-edit 'src='{% static "events/img/edit.svg" %}' alt="Edit Icon"/>
        </button>
        </th>
        <td><a href='/events/{{event.date|date:"Y/m/d/"}}{{event.slug}}'>{{event}}</a><br /></td>
        <td>{{event.date}}</td>
        <td class='text-center'>{{event.doors_open}}</td>
        <td class='text-center'>0</td>
        <td class='text-center'>{% include 'base/boolean.html' with bool=event.alcohol %}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="8" class="text-center">No Events</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endfor %}