{% extends "base/base.html" %}
{% load staticfiles %}
{% block content %}  

<div class="container">
  <div class='card custom-shadow' style='border-radius:8px;'>
    <div class='card-body mx-auto align-center'>
      
      <div class='row'>
        <div class='col col-12 schedule-header'>
          <h2>
            <span class='schedule'>Schedule</span>
            <button type="button" class="btn btn-dark float-right print"><span>Print</span></button>
            <button type="button" class="mx-2 btn-dark btn float-right"><span>Export</span></button>
            <button type="button" class="btn btn-dark float-right"><span>Email</span></button>
          </h2>
        </div>
      </div>
      <hr />

      <div class='row mx-auto'>
        <div class='col col-12'>
          <div class='card-columns'>
            <div class="post">
              <h1>{{ event }}</h1>
              
                <h1>Edit post</h1>
                <form method="POST" class="post-form">{% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="save btn btn-default">Save</button>
                </form>
            
            </div>
          </div>
          <hr />
        </div>
      </div>
      
    </div>
  </div>
</div>

{% endblock %}