<div class='row mb-3'>


  <div class='col-5'>
    <div class='card custom-shadow'>
      <div class='card-header'>
        Event Details
      </div>
      <div class='card-body'>
        
        Title: {{event.title}}<br />
        Date: {{event.date}}<br />
        Doors: {{event.doors_open}}<br />
        
        <button type="button" class="btn btn-dark float-left print"><span>Print</span></button>
            <button type="button" class="mx-2 btn-dark btn float-left"><span>Export</span></button>
            <button type="button" class="btn btn-dark float-left"><span>Email</span></button>
      </div>
    </div>
  </div>
  
  
  <div class='col-7'>
    <div class='card custom-shadow'>
      <div class='card-header'>
        Control Panel
      </div>
      <div class='card-body'>
        <div class='row'>
        
        
        
        
        <div class='col-6 my-1 pr-0'>
          
            <div class="input-group">
              <select class="custom-select" id="inputGroupSelect04">
                <option selected>Mass Update...</option>
                <option value="1">Reset to Blank</option>
                <option value="2">Reset to Last Save</option>
                <option value="3">Reset to Previous Event</option>
              </select>
              <div class="input-group-append">
                <button class="btn btn-dark" type="button">Update</button>
              </div>
            </div>
            
          

            
          <div class='employee-toggle row pl-0 py-2 mx-0 mt-2' style="font-weight:600; line-height:1.2em;">
            <form style='width:100%'>
            
            <div class="row ml-0">
            <div class='col col-7'>
              <a>Scheduled:</a>
            </div>
            <div class='col col-5'>
                <button type="button" class="btn btn-toggle toggle-scheduled active" data-toggle="button" aria-pressed="true" autocomplete="off">
                  <div class="handle"></div>
                </button>
              </div>
            </div>
            
            <div class="row ml-0">
            <div class='col col-7'>
              <a>Unscheduled:</a>
            </div>
            <div class='col col-5'>
                <button type="button" class="btn btn-toggle toggle-unscheduled active" data-toggle="button" aria-pressed="true" autocomplete="off">
                  <div class="handle"></div>
                </button>
              </div>
            </div>
            </form>
          </div>
          
          </div>
          
 
        
        <div class='col'>
          <form>
            <div class="form-row justify-content-end">
              <div class="col-sm-12 my-1">
                
                <label class="sr-only" for="inlineFormInputGroupUsername">Managers</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">Managers:</div>
                  </div>
                  <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Arrive" />
                  <div class="input-group-append">
                    <button class="btn btn-dark" id='manager' type="button">Update</button>
                  </div>
                </div>
                
                <label class="sr-only" for="inlineFormInputGroupUsername">Managers</label>
                <div class="py-1 input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">Preps:</div>
                  </div>
                  <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Arrive">
                  <div class="input-group-append">
                    <button class="btn btn-dark" id='prep' type="button">Update</button>
                  </div>
                </div>
                <label class="sr-only" for="inlineFormInputGroupUsername">Managers</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">Cashiers:</div>
                  </div>
                  <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Arrive">
                  <div class="input-group-append">
                    <button class="btn btn-dark" id='cashier' type="button">Update</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        
    
        
        
        
      </div>
        
    
      </div>
    </div>
  </div>
</div>