{% extends "base/base.html" %}
{% load staticfiles %}
{% block content %}  

<div class="container">

  {% include 'events/detail/event_header.html' %}
  
  <div class='card custom-shadow' style='border-radius:8px;'>
    <div class='card-header'>
      Schedule
      <div class='btn btn-dark float-right'>Save</div>
      </div>
    
    <div class='card-body mx-auto align-center'>
      
      <div class='row mx-auto'>
        <div class='col col-12'>
          <div class='card-columns'>
          {% for location, position in schedule.items %}
          
            {% include 'events/detail/location_card.html' with location=location position=position %}
          {% endfor %}
          </div>
          <hr />
        </div>
      </div>
      
    </div>
  </div>
</div>

{% endblock %}