{% load staticfiles %}

<div class="card" class='testing' style='width:100%;'>
  <div class="card-header location-header py-2">
    <label class='location-title' data-target='#{{location_id}}' data-toggle='collapse'>
      <input name='{{bar|yesno:"bar,"}}' class='active-location mr-3 {{bar|yesno:"bar,"}}' type="checkbox" checked='checked' />
      <a style="vertical-align:middle;">{{location_verbose}}</a>
    </label>
    <img class='float-right ml-1 add-employee' src='{% static "img/plus.svg" %}' alt="Plus Symbol"/>
    <img class='float-right ml-1 remove-employee' src='{% static "img/minus.svg" %}' alt="Minus Symbol"/>
  </div>
  
  <div class="card-body location-body collapse {{position|yesno:'show,hide'}}" id="{{location_id}}" name='{{location_verbose}}' aria-expanded="true">
  {% for shift, scheduled in position.items %}
    <div class='row shift-row {{scheduled.arrival_time|yesno:"scheduled,unscheduled"}}'>
      <div class="btn-group" style="width:100%;">
        <div class="input-group input-group">
          <div class="col pr-0 input-group-prepend" style='flex: 0 0 20%;max-width: 20%;'>
            <div class="input-group-text text-center" style='width:100%;'><span style='width:100%'>{{shift}}</span>
            </div>
          </div>
          
          {% if not template %}
            <select class="col form-control" style='flex: 0 0 50%;max-width: 50%;'>
              {% if not scheduled.employee %}
              <option value='{{shift}}' class='{{shift}} default-position' default selected>{{ scheduled.verbose_name }}</option>
              {% else %}
              <option value='{{scheduled.employee}}' class='{{shift}}' selected>{{ scheduled.employee }}</option>
              {% endif %}
              {% for employee in all_employees %}
                <option class="{{employee}}">{{employee.name}}</option>
              {% endfor %}
            </select>
          {% else %}
            <input class="form-control" type="text" placeholder="{{scheduled.employee}}" readonly>
          {% endif %}
          
          <div class="col pl-0 input-group-append input-group arrival-time" style='flex: 0 0 30%;max-width: 30%; padding-right:15px;'>
            <input type="text" class="form-control {{shift.0}}" placeholder="Arrive" aria-label="Arrive" value='{{ ""|add:scheduled.arrival_time }}' style="text-align:center;border-bottom-left-radius: 0px;border-top-left-radius: 0px;">
          </div>
          <div class="col px-0 input-group-append input-group remove-button" style='flex: 0 0 30%;max-width: 30%;'>
            <div class='btn btn-outline-danger' style='background:#f5f1f1; width:100%; margin-right:15px;'>Delete</div>
          </div>
        </div>
      </div>
      {# {% include 'events/detail/add_row.html' with loc=location.location_id %} #}
    </div>
  {% endfor %}
  </div>
  
</div>