{% load staticfiles %}
<nav class="navbar navbar-dark navbar-expand-lg bg-black" id='navbar'>
  <div class="container-fluid">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="/company/profile">Profile</a></li>
      <li class="nav-item"><a class="nav-link" href="/events">Events</a></li>
      <li class="nav-item"><a class="nav-link" href="/employees">Employees</a></li>
      <li class="nav-item"><a class="nav-link" href="/locations">Locations</a></li>
      <li class="nav-item"><a class="nav-link" href="/features/sms-text">SMS Text</a></li>
      <li class="nav-item"><a class="nav-link" href="/schedules/templates">Templates</a></li>
    </ul>
  </div>
</nav>