{% load staticfiles %}
<form class='company-roles'>
  {% for role in roles %}
    <div class="form-row add-role">
      <div class="col-auto">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
              <input type="text" class="form-control role-name" placeholder="Name of Role" value='{{role.verbose_name}}'>
          </div>
          <input type="text" class="form-control role-abbr" placeholder="Abbr." value='{{role.short_name}}' />
          {% if forloop.last %}
          <img class='add-role-button' style='width:30px; height:30px;' src='{% static "img/plus.svg" %}' /> 
          {% endif %}
          <img class='remove-role-button' style='width:30px; height:30px;' src='{% static "img/minus.svg" %}' /> 
        </div>
      </div>
      <br />
    </div>
  {% endfor %}
</form>
<div class="col-auto">
  <button type="submit" class="btn btn-primary mb-2" id='save-roles'>Save</button>
</div>