{% load staticfiles %}

<div class='col-4'>
  <div class='control-panel-section'>Bulk Update by Role</div>
  <div class='pt-2'>
    <span class='control-panel-description'> Update arrival time of all employees based on role. This will override values previous values.</span>
    <div class='mt-2 py-2 pl-0'>
      <ul class='pl-0'>
      {% for role in roles %}

        <li class="list-group-item" style='padding-top: 6px;padding-bottom: 6px;'>
          <div class='row'>
            <a class='col pr-0' style='color: #5e6673; padding-top: 7px;flex: 0 0 37%;max-width: 37%;'>{{role}}:</a>
            <div class='col px-0' style='flex: 0 0 46%;max-width: 46%;'>
              <input type="text" class="form-control" placeholder="e.g. 6:30PM" aria-label="Arrive" style="text-align: center;border:none;background: #EEE;">
            </div>
            <div class='col-2'>
              <a class='update-role' id='{{role|lower}}'><img src='{% static "img/refresh-button.svg" %}' alt="Refresh Icon" style='height: 22px;margin-top: 7px;text-align: center;width: 100%;margin-left: 2px;' /></a>
            </div>
          </div>
        </li>

      {% endfor %}
      </ul>
    </div>
  </div>
</div>