{% load staticfiles %}

<div class='col-4'>
  <div class='control-panel-section'>Bulk Update by Role</div>
  <div class='pt-2'>
    <span class='control-panel-description'> Update arrival time of all employees based on role. This will override values previous values.</span>
    <div class='mt-2 py-2 pl-0'>
      <ul class='pl-0'>
      {% for role in roles %}

        <li class="list-group-item" style='padding-top: 6px;padding-bottom: 6px;'>
          <div class='row'>
            <a class='col col-4' style='color: #5e6673; padding-top: 7px;'>{{role}}:</a>
            <div class='col col-6 pr-0'>
              <input type="text" class="form-control" placeholder="e.g. 6:30PM" aria-label="Arrive" style="text-align: center;border:none;background: #EEE;">
            </div>
            <div class='col-2' style='padding-left: 18px;'>
              <a id='{{role|lower}}'><img src='{% static "events/img/refresh-button.svg" %}' alt="Refresh Icon" style='height: 22px;margin-top: 7px;'/></a>
            </div>
          </div>
        </li>

      {% endfor %}
      </ul>
    </div>
  </div>
</div>