{% load staticfiles %}

<table class="table table-striped table-hover" id='object-table'>
  
  <thead>
    <tr class='header'>
      <th onclick="sortTable(0)" scope="col"><a>Title</a></th>
      <th onclick="sortTable(1)" scope="col"><a>Bar Active</a></th>
      <th onclick="sortTable(2)" scope="col"><a>Active Locations</a></th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  
  <tbody>
  {% for template in templates %}
    <tr>
      <td>{{template.title}}</td>
      <td>{% include 'base/boolean.html' with bool=template.template %}</td>
      <td>{% firstof template.active_locations '0' %}</td>
      <td>
        <a href='{% url "template_update" template.id %}'>
          <button type="button" class="btn">
            <img class='icon-edit 'src='{% static "img/edit.svg" %}' alt="Edit Icon"/>
          </button>
        </a>
        
        <button type="button" class="btn js-delete-object" data-url="{% url 'template_delete' template.id %}">
          <img class='icon-delete 'src='{% static "img/delete.svg" %}' alt="Delete Icon"/>
        </button>
      </td>
    </tr>
  {% endfor %}
  </tbody>

</table>