{% load staticfiles %}

<li class="list-group-item control-panel-item" style='background:linear-gradient(#ce98fd, #e980fc)'>
  <ul class="list-group">
    
    <li class="list-group-item py-2 toggle">
        <div class='panel-icon employees-icon'></div>
        <div class='panel-label'>Employees</div>
    </li>
    
    <ul class="list-group inner show">
      <li class="list-group-item" style='height:69vh;'>
        <div class='board-column'>
          <div class='scroll-content-wrapper'>
            <div class="employee-column-content">
              {% for employee in all_employees %}
                <div class="board-item" id='{{forloop.counter}}' style='margin-left:5px;'>
                  <div class="board-item-content highlight-employee">{{employee.name|truncatechars:20}}</div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </li>
    </ul>
    
  </ul>
</li>