{% load staticfiles %}
{% load widget_tweaks %}

{% for field in form %}
  <div class="form-group{% if field.errors %} has-error{% endif %}">
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    {% render_field field class="form-control" %}
    {% for error in field.errors %}
      <p class="help-block">{{ error }}</p>
    {% endfor %}
  </div>
{% endfor %}





{% if obj == 'location' %}
  <div class='row'>
    <span>Maximum Positions:</span>
  </div>
  <div class='row'>
    <div class='col-4' style='border-right: 1px solid #DDD;'>
      <div class="btn-group-vertical">
      {% for role in roles %}
        <button type="button" class="btn btn-dark mb-2 add-role-button" id='{{role.short_name}}'>{{role.verbose_name}}</button>
      {% endfor %}
      </div>
    </div>
    <div class='col-6 role-list'>
      {% for role in roles %}
        <div class='{{role.short_name}}-container mb-2'>
          
        </div>
      {% endfor %}
      
      
    </div>
  </div>

  <div class='d-none'>
    <div class='row shift-row default-position'>
      <div class="btn-group" style="width:100%;">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text short-name" id="basic-addon1"></span>
          </div>
          
          <div class="form-control verbose-name" type="text" placeholder="{{scheduled.employee}}" readonly></div>
          <div class="input-group-append">
            <span class="input-group-text">
              <a class='remove-sub-role'><img style='width:20px; height:20px;' src='{% static "events/img/minus.svg" %}' /> </a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  
{% endif %}
