{% extends 'base/base.html' %}
{% load staticfiles %}
{% block content %}

<div class="container-fluid background-container list-view" id='{{objs}}'>  

<div class='row'>
  <div class='col' id='list-panel'>
    <div class='row'>
      <div class='col px-0 accordian'>
        <span>Summary:</span>
        {% include objs|add:'/list-panel.html' %}
      </div>
    </div>
  </div>

  <div class='col'>
    <div class='card-body mx-4 align-center'>
      <div class='row'>
        <div class='col col-12'>
          
          <h2 class='mb-3'>
            <span class='text-uppercase single-header'>{{objs}}</span>
            
            {% if obj == 'template' %}
              <a href='{% url "template-create" %}'><div class='icon icon-create btn' style='vertical-align:top;'></div></a>
            {% else %}
                <div class='btn icon icon-create add-object js-create-object' style='vertical-align:top;' data-url="{% url obj|add:'-create' %}">
                </div>
            {% endif %}
            
            <a href="{% url 'export-'|add:objs %}">
              <div class='icon icon-download btn' style='vertical-align:top; float:right;' ></div>
            </a>
          </h2>
          
          <div class="modal fade hide" id="modal-object" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content"></div>
            </div>
          </div>
          
          {% if app %}
          {% include 'event-templates'|add:'/'|add:obj|add:'-list.html' %}
          {% else %}
          {% include objs|add:'/'|add:obj|add:'-list.html' %}
          {% endif %}

        </div>
      </div>
    </div>
  </div>
  </div>
</div>

{% endblock %}