{% extends 'base/base.html' %}
{% load staticfiles %}
{% block content %}

<div class="container background-container">  
  <div class='card shadow-custom'>
    <div class='card-body mx-4 align-center'>
      <div class='row'>
        <div class='col col-12'>
          
          <h2>
            <span class='title'>{{objs}}</span>
            <button type="button" class="btn add-object js-create-object" data-url="{% url 'event_create' %}"><a>+</a></button>
            <div class='icon-export'><img src='{% static "events/img/export.svg" %}' alt="Export Icon" /></div>
          </h2>
          
          <div class="modal fade hide" id="modal-object" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content"></div>
            </div>
          </div>
          
          {% include 'events/event_list.html' %}

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}