{% extends "base/base.html" %}
{% load staticfiles %}
{% block content %}  

{% include 'objects/object_create.html' with object_name=obj|capfirst %}
{% include 'objects/object_edit.html' with object_name=obj|capfirst %}

<div class="container background-container">  
  <div class='card shadow-custom'>
    <div class='card-body mx-4 align-center'>
      <div class='row'>
        <div class='col col-12'>
          <h2>
            <span class='title'>{{obj}}s</span>
            <button type="button" class="btn add-object" data-toggle="modal" data-target="#newObject"><a>+</a></button>
            <div class='icon-export'><img src='{% static "events/img/export.svg" %}' alt="Export Icon" /></div>
          </h2>
        </div>
      </div>
      <hr />
      <div class='row'>
        <div class='col col-12'>
         {% include obj|add:'s/'|add:obj|add:'_list.html' %}
        </div>
      </div>
      <hr />
    </div>
  </div>
</div>
{% endblock %}