{% load staticfiles %}
{% load widget_tweaks %}

<form method="POST" class="post-form">{% csrf_token %}
  <div class="modal fade" id="newObject" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          
          <h5 class="modal-title mb-2 pl-1" id="exampleModalLabel">Add New {{object_name}}
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          </h5>
          <hr />
          
          <form>
            <div class='form-fields ml-4'>
          {% for field in form.visible_fields %}
          {% if field.name != 'event_id' and field.name != 'slug' %}
          <div class='form-inline mb-3'>  
            <div class="form-group">
              <a class='font-weight-bold text-capitalize'>{{ field.label_tag }}</a> {% render_field field class="form-control ml-2" %}
            </div>
          </div>
          {% endif %}
          {% endfor %}
          </div>
          </form>
          <hr />
          
          <button type="submit" class="save btn btn-dark float-right ml-2">Add {{object_name}}</button>
          <button type="button" class="btn btn-dark float-right" data-dismiss="modal">Cancel</button>

        </div>
      </div>
    </div>
  </div>
</form>