{% extends 'base/base.html' %}
{% load staticfiles %}
{% block content %}

<div class="container background-container">  
  <div class='card shadow-custom'>
    <div class='card-body mx-4 align-center'>
      <div class='row'>
        <div class='col-6'>
          <a class='event-title' id='{{event.id}}'>{{employee.name}} | #{{employee.id}}</a><br />
          <a class='event-timestamps' style='font-size:1.2em;'>Phone: {{employee.phone}}</a><br />

        </div>
        <div class='col-6'>
          <a class='event-date float-right' style='font-size:1em;'>Alcohol Permit: {{employee.alcohol_permit}}</a><br />
          <a class='event-doors float-right' style='font-size:1em;'>Food Permit: {{employee.food_permit}}</a><br />
        </div>
        <div class='col-12'>
          {% if scheduled %}
            <a class='event-doors' style='font-size:1.2em;'>Scheduled Shifts: {{scheduled}}</a><br />
          {% else %}
            Note: you are not currently scheduled for any events. This could be the case
            if your manager hasn't completed scheduling yet. If you believe this is 
            a mistake, please reach out to your manager.
        {% endif %}
        </div>
        
        <div class='col-12 mt-3' style='border-bottom:1px black solid;'></div>
        
        
        
          <table class="table table-striped table-hover" id='object-table'>
    
            <thead>
              <tr class='header'>
                <th onclick="sortTable(0)" scope="col"><a>Date</a></th>
                <th onclick="sortTable(1)" scope="col"><a>Event</a></th>
                <th onclick="sortTable(2)" scope="col"><a>Schedule</a></th>
              </tr>
            </thead>
            
            <tbody>
            {% for event, attributes in events.items %}
              <tr>
                <td>
                  <strong>Date: </strong>{{attributes.details.date}}<br />
                  {% if scheduled %}
                    <strong>Arrive: </strong>{% firstof attributes.shift.arrive 'TBD' %}<br />
                  {% endif %}
                </td>
                <td>
                  <strong>Name: </strong>{{attributes.details.title}}<br />
                  <strong>Doors: </strong>{{attributes.details.doors}}<br />
                </td>
                  {% if attributes.shift.location %}
                      <td>
                        <strong>Location: </strong>{{attributes.shift.location}}<br />
                        <strong>Role: </strong>{{attributes.shift.verbose_name}}
                      </td>
                  {% else %}
                    <td>Not currently scheduled for this event.</td>
                  {% endif %}
              </tr>
            {% endfor %}
            </tbody>
          
          </table>
        
        
        
        
        
        
        
        
        
        

       


      </div>
    </div>
  </div>
</div>

{% endblock %}