{% load staticfiles %}
  <tbody>
  {% for employee in employees %}
    <tr>
      <td>{{employee.employee_id}}</td>
      <td>{{employee.first_name}}</td>
      <td>{{employee.last_name}}</td>
      <td>{{employee.phone}}</td>
      <td>{% include 'base/boolean.html' with bool=employee.food_permit %}</td>
      <td>{% include 'base/boolean.html' with bool=employee.alcohol_permit %}</td>
      <td>{% include 'base/boolean.html' with bool=employee.admin %}</td>
      <td>{% include 'base/boolean.html' with bool=employee.active %}</td>
      <td>
        <button type="button" class="btn js-update-object" data-url="{% url 'employee_update' employee.id %}">
          <img class='icon-edit 'src='{% static "events/img/edit.svg" %}' alt="Edit Icon"/>
        </button>
        <button type="button" class="btn js-delete-object" data-url="{% url 'employee_delete' employee.id %}">
          <img class='icon-delete 'src='{% static "events/img/delete.svg" %}' alt="Delete Icon"/>
        </button>
      </td>
    </tr>
  {% endfor %}
  </tbody>