{% load staticfiles %}

<table class="table table-striped table-hover" id='myTable'>
  
  <thead>
    <tr class='header'>
      <th scope="col"></th>
      <th scope="col">ID</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Phone</th>
      <th scope="col">Food</th>
      <th scope="col">Alcohol</th>
      <th scope="col">Admin</th>
      <th scope="col">Active</th>
    </tr>
  </thead>
  
  <tbody>
  {% for employee in employees %}
    <tr>
      <th scope="row"><img class='icon-edit' src='{% static "events/img/edit.svg" %}' alt="Edit Icon"/></th>
      <td>{{employee.employee_id}}</td>
      <td>{{employee.first_name}}</td>
      <td>{{employee.last_name}}</td>
      <td>{{employee.phone}}</td>
      <td>{% include 'base/boolean.html' with bool=employee.food_permit %}</td>
      <td>{% include 'base/boolean.html' with bool=employee.alcohol_permit %}</td>
      <td>{% include 'base/boolean.html' with bool=employee.admin %}</td>
      <td>{% include 'base/boolean.html' with bool=employee.active %}</td>
    </tr>
  {% endfor %}
  </tbody>

</table>