#ed {
  font-family: "Source Sans Pro";
}

* {
  -ms-overflow-style: none !important;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  text-align: center;
}

::-moz-placeholder {
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}

#cp {
  background: rgba(0, 0, 0, 0.83);
  max-width: 240px;
  height: 100vh;
  padding-top: 40px;
  color: #FFF;
}
#cp #arrival-times .form-control {
  background-color: #3E3E3E;
  border: 1px solid black;
}
#cp #employee-list .employee-column-content {
  color: black;
}

.cp-item {
  padding: 0px;
  margin: 0px;
  border: none;
  letter-spacing: 1px;
}
.cp-item:first-child {
  background: linear-gradient(#83d6ff, #9cc0fe);
}
.cp-item:nth-child(2) {
  background: linear-gradient(#9cc0fe, #b4adfe);
}
.cp-item:nth-child(3) {
  background: linear-gradient(#b4adfe, #ce98fd);
}
.cp-item:last-child {
  background: linear-gradient(#ce98fd, #e980fc);
}
.cp-item .list-group:first-child {
  background: #3a3a3a;
}
.cp-item .list-group.inner {
  display: none;
}
.cp-item .toggle .panel-icon {
  height: 22px;
  width: 22px;
}
.cp-item .toggle .panel-label.gradient {
  background: -webkit-linear-gradient(#84d5ff, #e783fd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#active-locs .badge-pill {
  background: black;
  color: white;
}
#active-locs .loc-category {
  padding-left: 26px;
  height: 36px;
}
#active-locs .panel-collapse {
  margin-left: 13px;
  padding-left: 8px;
  border-left: 1px solid rgba(0, 0, 0, 0.125);
  border-right: 1px solid rgba(0, 0, 0, 0.125);
}

.event-header-details {
  color: #5A626F;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: lowercase;
  font-size: 1.2em;
}
.event-header-details .event-title {
  font-size: 1.5em;
  font-weight: 500;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background: none;
  color: black;
}

.nav-link::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 8px;
  left: 0;
  height: 6px;
  width: 100%;
  background: linear-gradient(to right, #83d6ff, #e881fc);
  transform-origin: right top;
  transform: scale(0, 1);
  transition: color 0.1s, transform 0.2s ease-out;
  z-index: -9999;
}

.nav-link:hover::before, .nav-link:focus::before, .nav-link.active::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

.nav-link:first-child {
  margin-left: 4px;
}

.board {
  position: relative;
  margin-left: 1%;
}

.board-column {
  position: absolute;
  margin: 0px 10px 10px 0px;
  border-radius: 3px;
  display: inline-block;
  padding: 0px 12px 10px 12px;
}

.board-item {
  position: absolute;
  margin: 5px 0;
}
.board-item.muuri-item-releasing {
  z-index: 9998;
}
.board-item.muuri-item-dragging {
  z-index: 9999;
  cursor: move;
}
.board-item.muuri-item-hidden {
  z-index: 0;
}

.board-item-content {
  position: relative;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  font-size: 17px;
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.2);
  width: 167px;
}

.employee-column-content {
  position: relative;
  border: 3px solid transparent;
  min-height: 43px;
}

#loc-categories {
  margin: 0 91px 14px 20px;
  font-size: 1.2em;
  font-weight: 100;
}
#loc-categories .nav-link {
  line-height: 1em;
  letter-spacing: 1.5px;
  font-size: 1em;
  font-weight: 600;
  color: #555;
  position: relative;
}

.loc-cards .board {
  margin-bottom: 100px;
  position: absolute;
  width: 80vw;
}
.loc-cards .board-column {
  box-shadow: #CACACA 0px 0px 12px;
  border-radius: 0px;
  width: 18vw;
  margin-left: 20px;
  background: #FFF;
}
.loc-cards .board-column .board-column-header {
  height: 42px;
  background: none;
  color: #757575;
  margin: 12px 0px;
  padding: 0px 0px 12px 2px;
  position: relative;
  line-height: 30px;
  overflow: hidden;
  border-bottom: 1px solid #d2d2d2;
}
.loc-cards .board-column .board-column-header .location-title {
  line-height: 2em;
  letter-spacing: 1px;
  font-size: 1.1em;
  font-weight: 400;
  vertical-align: bottom;
}
.loc-cards .board-column .board-column-header .add-shift {
  font-weight: 700;
  font-size: 1.2em;
  margin-top: -1px;
}
.loc-cards .board-column .board-column-content {
  width: 15.3vw;
  position: relative;
  border: 3px solid transparent;
  min-height: 43px;
  background: white;
  left: 15px;
}
.loc-cards .board-column .board-column-content .arrival-time {
  height: 33px;
  margin: 5px 0;
  width: 70px;
  padding: 4px;
  box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border-width: 1px;
  border: none;
  font-weight: 100;
  font-size: 17px;
  float: right;
}
.loc-cards .board-column .read-short {
  margin: 5px 0px;
  padding: 4px;
  width: 40px;
  box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.2);
  border: none;
  font-size: 17px;
  border-radius: 4px;
  height: 34px;
  text-align: center;
}
.loc-cards .board-column .board-item {
  margin-left: 5px;
}
.loc-cards .board-column .board-item .board-item-content {
  font-weight: 100;
  padding: 4px 4px 4px 10px;
}
.loc-cards .board-column .highlight.default {
  border: 1px solid red;
}
.loc-cards .board-column .highlight.employeer {
  border: 1px solid green;
}

body {
  font-family: "Open Sans";
  background: #F7F7F7;
  color: #1B142D;
}

a:focus, input:focus {
  box-shadow: none !important;
  outline: none !important;
}

.bg-black {
  background: #000;
}

.box-shadow {
  box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.2) !important;
  transition: none;
}
.box-shadow:focus {
  color: #333333;
}

.icon {
  background-image: url("../img/spritesheet.png");
  width: 32px;
  height: 32px;
}

.icon-true {
  background-position: -3px -111px;
}
.icon-false {
  background-position: -117px -111px;
}
.icon-create {
  background-position: -3px -3px;
  width: 64px;
  height: 64px;
}
.icon-edit {
  background-position: -181px -41px;
}
.icon-delete {
  background-position: -181px -79px;
}
.icon-download {
  background-position: -73px -3px;
}
.icon-display {
  background-position: -143px -41px;
}
.icon-display.gradient {
  background-position: -181px -3px;
}
.icon-locations {
  background-position: -41px -111px;
}
.icon-locations.gradient {
  background-position: -143px -3px;
}
.icon-arrival {
  background-position: -79px -111px;
}
.icon-arrival.gradient {
  background-position: -41px -73px;
}
.icon-employees {
  background-position: -3px -73px;
}
.icon-employees.gradient {
  background-position: -79px -73px;
}

#search-input {
  color: #000;
  font-weight: 700;
  background: #000;
}
#search-input::placeholder {
  color: #000;
  opacity: 1;
}
#search-input:-ms-input-placeholder {
  color: #000;
}
#search-input::-ms-input-placeholder {
  color: #000;
}

.list-view .single-header {
  font-weight: 300;
  font-size: 1.6em;
}
.list-view .multi-header {
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 24px;
  display: inline-block;
  text-align: center;
  width: 100%;
}

/*# sourceMappingURL=scss.css.map */
