/*Employee Scroll Pages*/
.page-link {
  background: rgba(256,256,256,.2);
  color: #000;
  border-radius:50px!important;
  margin: 0px 2px;
}

.js-update-object, .js-delete-object {background:none;}
.js-object-create a {margin-left: -1px;}

.input-group-text {padding: 0rem .75rem; font-weight:600;}
.input-group.mb-1 {
  background: white;
  border-radius: 5px;
  padding-left: 15px;
  font-weight:600;
  border:1px solid #ced4da;
  height: 38px;
}
.form-check-input {
  margin: 0px;
  position: relative;
}
.scroll-content-wrapper {
  position: relative;
  max-height: 70vh;
  overflow-y: auto;
}
.list-group-item {background: none;}


#ed .list-group-item:last-child, #ed .list-group-item:first-child {
  border-radius: 0px;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition-timing-function: ease;
  transition-duration: .35s;
  transition-property: height;
}
.collapsing.width {
  width: 0;
  height: auto;
  transition-property: width;
}
.input-container, .name-input {
  border: none;
  width: 8.7vw;
  min-width: 8.7vw;
  height: 33px;
  display: inline-flex;
}