body {
    background:#DDD;
    color:#1b142d;
    font-family:"Open Sans";
}

@media (min-width: 1200px)
.container {
    max-width: 100%;
}

.company-logo {height:40px;}

.page-link {background: rgba(256,256,256,.2); color: #000; border-radius:50px!important; margin-left: 2px; margin-right: 2px;}
.btn-dark {background: rgba(0,0,0,.7); border-color:rgba(0,0,0,0);}
hr {background-color:white; margin: 0px; margin-bottom:24px!important;}
th {color:#1b142d;}
th > a {cursor:pointer;}
td {vertical-align: baseline!important;}
td > a {font-weight:600;}

.shadow-custom { margin:auto; box-shadow:0rem 0rem 6rem rgba(0,0,0,.4); }

.schedule {
    font-family: 'Roboto Condensed';
    font-size: 1.3em;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
}

.schedule-btn {
	background-image: linear-gradient(to right, #006175 0%, #00a950 100%);
	border-radius: 40px;
  box-sizing: border-box;
	color: #00a84f;
	display: block;
	letter-spacing: 1px;
	margin: 0 auto;
	padding: 2px;
	position: relative;
    text-decoration: none;
	z-index: 2;
}

.schedule-btn:hover {color: #fff;}

.schedule-btn span {
	align-items: center;
	background: #e7e8e9;
	border-radius: 40px;
	display: flex;
	justify-content: center;
	height: 100%;
	transition: background .5s ease;
	width: 100%;
	padding-left: 8px;
    padding-right: 8px;
}
.schedule-btn:hover span {background: transparent;}

/*.input-group-text {background-color: rgba(256,256,256,.4);}*/

.title {
    font-weight: 300;
    text-transform:uppercase;
    font-size:1.6em;
}

.schedule-header {
    padding-left: 30px;
    padding-right: 30px;
}

.navbar {background-color: rgba(0,0,0,.7);}

/*.location-title {*/
/*    font-size: 1.1em;*/
/*    margin-bottom: 0px;*/
/*    font-family: "Source Sans Pro";*/
/*}*/
/*.location-body {background-color: #e8ebf1;border-bottom-left-radius:.25rem; border-bottom-right-radius:.25rem}*/
.card-header.location-header {
    line-height: 12px;
    background:#99a0ab;
}

.card {background-color: rgba(255, 255, 255, .15); border:none;}
.row {margin-bottom: .5rem;}
.row:last-child {margin-bottom:0px;}

/*.form-control {*/
/*    background-color:rgba(0,0,0,.3);*/
/*    border:none;*/
/*    color:white;*/
/*}*/

button.add-object {
    border-radius: 500px;
    width: 42px;
    height: 42px;
    color: white;
    background: -webkit-linear-gradient(#844162, #68305f);;
    border: none;
    font-size: .9em;
    line-height: 4px;
    margin-left: 2px;
    margin-top: -18px;

}

/*.js-update-object, .js-delete-object {text-align: center; border: 1px black solid; padding: 4px 9px;;background: rgba(256,256,256,.1);}*/
.js-update-object, .js-delete-object {background:none;}
.js-object-create a {margin-left: -1px;}

.table-header {
    text-transform: uppercase;
    font-weight: 700;
    /*color: white!important;*/
    letter-spacing: 1px;
    font-size: 24px;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.event-row {
    background-color: rgba(256,256,256,.1);
    border-radius: 8px;
}
/*.event-title {*/
/*    font-size: 4em;*/
/*    font-family: "Open Sans";*/
/*    font-weight: 700;*/
/*    color: rgba(256,256,256,.2);*/
/*    letter-spacing: 1px;*/
/*    -webkit-text-stroke: 2px white;*/
/*}*/

.event-title {
    font-size: 1.5em;
    color: #5a626f;
    font-weight: 500;
    font-family: 'Source Sans Pro';
    letter-spacing: 1px;
}

/*.modal-content {*/
/*    background: linear-gradient(to top right, rgba(124,76,125,.7), rgba(170,101,118,.7),rgba(170,101,118,.7),rgba(231,174,143,.7))!important;*/
/*    background: linear-gradient(to right,rgba(195, 127, 143, 0.7),rgba(136, 86, 125, 0.7));*/
/*    color: white;*/
/*}*/
/*.modal-title {*/
/*    font-weight: 300;*/
/*    color: white!important;*/
/*    text-transform:uppercase;*/
/*    font-size:2em;*/
/*}*/

/*body.modal-open .background-container {*/
/*    -webkit-filter: blur(4px);*/
/*    -moz-filter: blur(4px);*/
/*    -o-filter: blur(4px);*/
/*    -ms-filter: blur(4px);*/
/*    filter: blur(4px);*/
/*    filter: url("https://gist.githubusercontent.com/amitabhaghosh197/b7865b409e835b5a43b5/raw/1a255b551091924971e7dee8935fd38a7fdf7311/blur".svg#blur);*/
/*    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='4');*/
/*}*/

#searchInput {color: black; font-weight: 700; background: rgba(0,0,0,0);}
#searchInput::placeholder {color: black; opacity: 1;} /* Chrome, Firefox, Opera, Safari 10.1+ */
#searchInput:-ms-input-placeholder { color: black; } /* Internet Explorer 10-11 */
#searchInput::-ms-input-placeholder { color: black; } /* Microsoft Edge */

.icon-false, .icon-search, .icon-true { height:30px; }
.icon-true {
    background: rgba(194, 120, 117, 0.71);
    border-radius: 50px;
}
.icon-false {
    background: rgba(110, 49, 93, 0.47);
    border-radius: 20px;
}
.icon-edit, .icon-delete { height:30px; margin-top:-1px; background:none; }
.icon-export img {height: 48px; width: 48px;}
.icon-search {vertical-align:text-top}

.btn:focus, .input:focus, textarea:focus, text:focus, a:focus {
    box-shadow: none!important;
    outline: none!important;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none!important;
    box-shadow: none!important;
}

#eventTable {
    margin-top: 12px;
}

.chevron-down { height:20px; width:20px; display:inline-block; margin-left:2px; margin-right:2px; }

.location-header input {height:17px; width:17px;}
.location-header img {height:20px; width:20px;}
.remove-location {height:20px; width:20px; display:none; margin-left: -31px;margin-top: 10px;margin-right: 11px;}
.employee-dropdown {background:rgba(256,256,256,.3);}

.dropdown-toggle::after {float:right; margin-top:10px;}
.dropdown-toggle {text-align:left;}

.input-group-text {padding: 0rem .75rem; font-weight:600;}

.location-header input {vertical-align:text-bottom; height:15px;}












.example {
  margin: 4rem auto;
}
.example > .row {
  margin-top: 2rem;
  height: 5rem;
  vertical-align: middle;
  text-align: center;
  border: 1px solid rgba(189, 193, 200, 0.5);
}
.example > .row:first-of-type {
  border: none;
  height: auto;
  text-align: left;
}
.example h3 {
  font-weight: 400;
}
.example h3 > small {
  font-weight: 200;
  font-size: .75em;
  color: #939aa5;
}
.example h6 {
  font-weight: 700;
  font-size: .65rem;
  letter-spacing: 3.32px;
  text-transform: uppercase;
  color: #bdc1c8;
  margin: 0;
  line-height: 5rem;
}
.example .btn-toggle {
  top: 50%;
  transform: translateY(-50%);
}
.btn-toggle {
  /*margin: 0 4rem;*/
  padding: 0;
  position: relative;
  border: none;
  height: 1.5rem;
  width: 3rem;
  border-radius: 1.5rem;
  color: #6b7381;
  background: #bdc1c8;
}
.btn-toggle:focus,
.btn-toggle.focus,
.btn-toggle:focus.active,
.btn-toggle.focus.active {
  outline: none;
}
.btn-toggle:before,
.btn-toggle:after {
  line-height: 1.5rem;
  width: 4rem;
  text-align: center;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity .25s;
}
.btn-toggle:before {
  content: 'Hide';
  left: -4rem;
}
.btn-toggle:after {
  content: 'Show';
  right: -4rem;
  opacity: .5;
}
.btn-toggle > .handle {
  position: absolute;
  top: 0.1875rem;
  left: 0.1875rem;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 1.125rem;
  background: #fff;
  transition: left .25s;
}
.btn-toggle.active {
  transition: background-color 0.25s;
}
.btn-toggle.active > .handle {
  left: 1.6875rem;
  transition: left .25s;
}
.btn-toggle.active:before {
  opacity: .5;
}
.btn-toggle.active:after {
  opacity: 1;
}
.btn-toggle.btn-sm:before,
.btn-toggle.btn-sm:after {
  line-height: -0.5rem;
  color: #fff;
  letter-spacing: .75px;
  left: 0.4125rem;
  width: 2.325rem;
}
.btn-toggle.btn-sm:before {
  text-align: right;
}
.btn-toggle.btn-sm:after {
  text-align: left;
  opacity: 0;
}
.btn-toggle.btn-sm.active:before {
  opacity: 0;
}
.btn-toggle.btn-sm.active:after {
  opacity: 1;
}
.btn-toggle.btn-xs:before,
.btn-toggle.btn-xs:after {
  display: none;
}
.btn-toggle:before,
.btn-toggle:after {
  color: #6b7381;
}
.btn-toggle.active {
  background-color: #29b5a8;
}
.btn-toggle.btn-lg {
  margin: 0 5rem;
  padding: 0;
  position: relative;
  border: none;
  height: 2.5rem;
  width: 5rem;
  border-radius: 2.5rem;
}
.btn-toggle.btn-lg:focus,
.btn-toggle.btn-lg.focus,
.btn-toggle.btn-lg:focus.active,
.btn-toggle.btn-lg.focus.active {
  outline: none;
}
.btn-toggle.btn-lg:before,
.btn-toggle.btn-lg:after {
  line-height: 2.5rem;
  width: 5rem;
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity .25s;
}
.btn-toggle.btn-lg:before {
  content: 'Off';
  left: -5rem;
}
.btn-toggle.btn-lg:after {
  content: 'On';
  right: -5rem;
  opacity: .5;
}
.btn-toggle.btn-lg > .handle {
  position: absolute;
  top: 0.3125rem;
  left: 0.3125rem;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 1.875rem;
  background: #fff;
  transition: left .25s;
}
.btn-toggle.btn-lg.active {
  transition: background-color 0.25s;
}
.btn-toggle.btn-lg.active > .handle {
  left: 2.8125rem;
  transition: left .25s;
}
.btn-toggle.btn-lg.active:before {
  opacity: .5;
}
.btn-toggle.btn-lg.active:after {
  opacity: 1;
}
.btn-toggle.btn-lg.btn-sm:before,
.btn-toggle.btn-lg.btn-sm:after {
  line-height: 0.5rem;
  color: #fff;
  letter-spacing: .75px;
  left: 0.6875rem;
  width: 3.875rem;
}
.btn-toggle.btn-lg.btn-sm:before {
  text-align: right;
}
.btn-toggle.btn-lg.btn-sm:after {
  text-align: left;
  opacity: 0;
}
.btn-toggle.btn-lg.btn-sm.active:before {
  opacity: 0;
}
.btn-toggle.btn-lg.btn-sm.active:after {
  opacity: 1;
}
.btn-toggle.btn-lg.btn-xs:before,
.btn-toggle.btn-lg.btn-xs:after {
  display: none;
}
.btn-toggle.btn-sm {
  margin: 0 0.5rem;
  padding: 0;
  position: relative;
  border: none;
  height: 1.5rem;
  width: 3rem;
  border-radius: 1.5rem;
}
.btn-toggle.btn-sm:focus,
.btn-toggle.btn-sm.focus,
.btn-toggle.btn-sm:focus.active,
.btn-toggle.btn-sm.focus.active {
  outline: none;
}
.btn-toggle.btn-sm:before,
.btn-toggle.btn-sm:after {
  line-height: 1.5rem;
  width: 0.5rem;
  text-align: center;
  font-weight: 600;
  font-size: 0.55rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity .25s;
}
.btn-toggle.btn-sm:before {
  content: 'Off';
  left: -0.5rem;
}
.btn-toggle.btn-sm:after {
  content: 'On';
  right: -0.5rem;
  opacity: .5;
}
.btn-toggle.btn-sm > .handle {
  position: absolute;
  top: 0.1875rem;
  left: 0.1875rem;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 1.125rem;
  background: #fff;
  transition: left .25s;
}
.btn-toggle.btn-sm.active {
  transition: background-color 0.25s;
}
.btn-toggle.btn-sm.active > .handle {
  left: 1.6875rem;
  transition: left .25s;
}
.btn-toggle.btn-sm.active:before {
  opacity: .5;
}
.btn-toggle.btn-sm.active:after {
  opacity: 1;
}
.btn-toggle.btn-sm.btn-sm:before,
.btn-toggle.btn-sm.btn-sm:after {
  line-height: -0.5rem;
  color: #fff;
  letter-spacing: .75px;
  left: 0.4125rem;
  width: 2.325rem;
}
.btn-toggle.btn-sm.btn-sm:before {
  text-align: right;
}
.btn-toggle.btn-sm.btn-sm:after {
  text-align: left;
  opacity: 0;
}
.btn-toggle.btn-sm.btn-sm.active:before {
  opacity: 0;
}
.btn-toggle.btn-sm.btn-sm.active:after {
  opacity: 1;
}
.btn-toggle.btn-sm.btn-xs:before,
.btn-toggle.btn-sm.btn-xs:after {
  display: none;
}
.btn-toggle.btn-xs {
  margin: 0 0;
  padding: 0;
  position: relative;
  border: none;
  height: 1rem;
  width: 2rem;
  border-radius: 1rem;
}
.btn-toggle.btn-xs:focus,
.btn-toggle.btn-xs.focus,
.btn-toggle.btn-xs:focus.active,
.btn-toggle.btn-xs.focus.active {
  outline: none;
}
.btn-toggle.btn-xs:before,
.btn-toggle.btn-xs:after {
  line-height: 1rem;
  width: 0;
  text-align: center;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity .25s;
}
.btn-toggle.btn-xs:before {
  content: 'Off';
  left: 0;
}
.btn-toggle.btn-xs:after {
  content: 'On';
  right: 0;
  opacity: .5;
}
.btn-toggle.btn-xs > .handle {
  position: absolute;
  top: 0.125rem;
  left: 0.125rem;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 0.75rem;
  background: #fff;
  transition: left .25s;
}
.btn-toggle.btn-xs.active {
  transition: background-color 0.25s;
}
.btn-toggle.btn-xs.active > .handle {
  left: 1.125rem;
  transition: left .25s;
}
.btn-toggle.btn-xs.active:before {
  opacity: .5;
}
.btn-toggle.btn-xs.active:after {
  opacity: 1;
}
.btn-toggle.btn-xs.btn-sm:before,
.btn-toggle.btn-xs.btn-sm:after {
  line-height: -1rem;
  color: #fff;
  letter-spacing: .75px;
  left: 0.275rem;
  width: 1.55rem;
}
.btn-toggle.btn-xs.btn-sm:before {
  text-align: right;
}
.btn-toggle.btn-xs.btn-sm:after {
  text-align: left;
  opacity: 0;
}
.btn-toggle.btn-xs.btn-sm.active:before {
  opacity: 0;
}
.btn-toggle.btn-xs.btn-sm.active:after {
  opacity: 1;
}
.btn-toggle.btn-xs.btn-xs:before,
.btn-toggle.btn-xs.btn-xs:after {
  display: none;
}
.btn-toggle.btn-secondary {
  color: #6b7381;
  background: #bdc1c8;
}
.btn-toggle.btn-secondary:before,
.btn-toggle.btn-secondary:after {
  color: #6b7381;
}
.btn-toggle.btn-secondary.active {
  background-color: #ff8300;
}


.employee-toggle {
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    /*text-align: center;*/
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.card-header {
    font-family: Lato;
    /*text-transform: uppercase;*/
    letter-spacing: 1px;
    color: #fff;
}

.event-header-details {
  color: #5a626f;
  font-weight: 500;
  font-family: 'Source Sans Pro';
  letter-spacing: 1px;
  text-transform: lowercase;
  letter-spacing: 1px;
}

.control-panel-header {
    font-size: 1.5em;
    color: #5a626f;
    font-weight: 500;
    font-family: 'Source Sans Pro';
    letter-spacing: 1px;
}

/*.bulk-arrival {*/
/*    height: 1.45em;*/
/*    border-left: none;*/
/*    border-right: none;*/
/*    border-top: none;*/
/*    margin-left:.5em;*/
/*    margin-right:.5em;*/
/*    text-align: center;*/
/*}*/

.bulk-arrival {
  background-color: rgba(256,256,256,.4);
  line-height:1.2em;
    margin-left: 5px;
    background-color: rgba(256,256,256,.4);
    line-height: 1.2em;
    border: none;
    border-bottom: 1px solid #BBB;
    border-radius: 0px;
    padding-bottom:3px;
}

.input-group.mb-1 {
    background: white;
    border-radius: 5px;
    padding-left: 15px;
    font-weight:600;
    border:1px solid #ced4da;
    height: 38px;
}

.control-panel {
  background:#e8ebf1;
}

.control-panel-section {
  color:#5a626f;font-family:"Open Sans";font-size: 1.2em;font-weight: 600;
}

.control-panel-description {
  font-family: "Open Sans";color: #49505a;font-size: .9em;
}

.event-details {
  /*background-color: #e8ebf1;*/
}

.remove-button {
  display:none;
}

.rotate {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.remove-employee {
  transition: transform 0.5s;
}

.red-border {
  border: 1px solid red;
}

.red-border-background {
  border: 1px solid red;
  background: #f5f1f1;
}

.display-flex {
  display:flex;
}


.colorPickSelector {
  border-radius: 5px;
  width: 32px;
  height: 32px;
  margin-top: 3px;
  cursor: pointer;
  -webkit-transition: all linear .2s;
  -moz-transition: all linear .2s;
  -ms-transition: all linear .2s;
  -o-transition: all linear .2s;
  transition: all linear .2s;
}

.colorPickSelector:hover { transform: scale(1.1); }











        
.board {
  position: relative;
  margin-left: 1%;
}
.board-column {
  position: absolute;
  left: 0;
  right: 0;
  width: 23%;
  /*width:100%;*/
  margin: 0 1.5%;
  /*background: #f0f0f0;*/
  background:none;
  border-radius: 3px;
  z-index: 1;
  /*display:contents;*/
  display:inline-block;
}

.board-column {
  margin: 10px;
  /*width:20%;*/
}

.board-column.muuri-item-releasing {
  z-index: 2;
}
.board-column.muuri-item-dragging {
  z-index: 3;
  cursor: move;
}
.board-column-header {
  position: relative;
  /*height: 50px;*/
  /*line-height: 50px;*/
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  padding: 0 20px;
  /*text-align: center;*/
  background: #333;
  color: #fff;
  border-radius: 3px 3px 0 0;
  
}
@media (max-width: 600px) {
  .board-column-header {
    text-indent: -1000px;
  }
}
.board-column.todo .board-column-header {
  background: #4A9FF9;
}
.board-column.working .board-column-header {
  background: #f9944a;
}
.board-column.done .board-column-header {
  background: #2ac06d;
}
.board-column-content, .employee-column-content {
  position: relative;
  /*border: 10px solid transparent;*/
  border: 3px solid transparent;
  /*min-height: 95px;*/
  min-height:43px;
  background:white;
  width: 100%!important;
}
.board-item, .employee-item {
  position: absolute;
  margin: 5px 0;
}
.employee-column-content .board-item {
  width:100%;
}

.board-item.muuri-item-releasing, .employee-item.muuri-item-releasing {
  z-index: 9998;
}
.board-item.muuri-item-dragging,.employee-item.muuri-item-dragging {
  z-index: 9999;
  cursor: move;
}
.board-item.muuri-item-hidden, .employee-item.muuri-item-hidden {
  z-index: 0;
}
.board-item-content {
  position: relative;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  font-size: 17px;
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
  box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);

}
@media (max-width: 600px) {
  .board-item-content {
    text-align: center;
  }
  .board-item-content span {
    display: none;
  }
}

/*#cols {*/
/*    -moz-column-count: 5;*/
/*    -moz-column-gap: 20px;*/
/*    -webkit-column-count: 5;*/
/*    -webkit-column-gap: 20px;*/
/*    column-count: 5;*/
/*    column-gap: 20px;*/
/*}*/

.board-item-content {
  font-family: "Source Sans Pro";
  font-weight: 100;
  padding: 4px 4px 4px 10px;
  text-transform:capitalize;
  
}

.card-columns {
  column-count: 5;
  /*@include media-breakpoint-only(sm) {*/
  /*  column-count: 4;*/
  /*}*/
  /*@include media-breakpoint-only(xl) {*/
  /*  column-count: 5;*/
  /*}*/
}








/*Set the row height to the viewport*/
.row-height{
  height: 100vh;
}

/*Set up the columns with a 100% height, body color and overflow scroll*/

.left{
  height: 100%;
  overflow-y: scroll;
}

/*Remove the scrollbar from Chrome, Safari, Edge and IE*/
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

* {
  -ms-overflow-style: none !important;
}





::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}


.read-short{
  margin:4px 0px;
  padding:4px;
  width:40px;
  font-family: "Source Sans Pro";
  box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
  border-width:1px;
  border:none;
  font-size:17px;
  border-radius:4px;
  height:33px;
}

.arrival-time {
  height: 33px;
  margin: 5px 0 5px 8px;
  width:70px;
  font-family: "Source Sans Pro";
  padding: 4px;
  box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
  border-radius:4px;
  border-width:1px;
  border:none;
  font-weight:100;
  font-size:17px;
  float:right;
}


.form-check-input {
  /*margin-left:20px;*/
      margin: 0px;
    position: relative;
}


.scroll-content-wrapper {
  position: relative;
  max-height: 70vh;
  overflow-y: auto;
}

.list-group-item {
  background:#F5F5F5;
}









/*.board-column:nth-child(1) .board-column-header {*/
/*  background: #40c8c2;*/
/*}*/

/*.board-column:nth-child(2) .board-column-header {*/
/*  background: red;*/
/*}*/

/*.board-column:nth-child(3) .board-column-header {*/
/*  background: blue;*/
/*}*/

/*.board-column-header {*/
/*  background-image: linear-gradient(#40c8c2,#4c98cf,#4873a6,#595386,#554269);*/
/*  background-size: cover;*/
/*  background-position: center;*/
/*  background-attachment: fixed;  /* <- here it is 

/*  width: 100%;*/
/*  height: 100%;*/
/*}*/

/*@mixin colors($max-count, $color-frequency){*/
/*  $color: 360/$max-count;*/
  
/*  @for $i from 1 through $max-count {*/
/*    &:nth-child(#{$max-count}n + #{$i}) {*/
/*      // Modify 's' and 'l' percentages to match color scheme you want*/
/*      background: hsl(($i - 1)*($color / $color-frequency), 80%, 60%);*/
/*    }*/
/*  }*/
/*}*/


/*#40c8c2#4c98cf,#4873a6,#595386,#554269*/