<!--{% load staticfiles %}-->

<!--<table class="table table-sm table-striped table-hover" id='eventTable'>-->

<!--  <thead>-->
<!--    <tr class='header' style='text-align:center;'>-->
<!--      <th scope="col"></th>-->
<!--      <th style="text-align:left;" scope="col">-->
<!--          <img class='icon-search' src='{% static "events/img/search.svg" %}' alt="Search" />-->
<!--          <input type="text" class="form-control" id="searchInput" onkeyup="myFunction()" placeholder="Event" style="width:90%;display:inline-block;padding-left:3px;" />-->
<!--      </th>-->
<!--      <th style="text-align:left;" scope="col">Date</th>-->
<!--      <th scope="col">Doors Open</th>-->
<!--      <th scope="col">Scheduled</th>-->
<!--      <th scope="col">Alcohol</th>-->
<!--    </tr>-->
<!--  </thead>-->
  
<!--  <tbody>-->
<!--    {% include 'events/create/partial_event_list.html' %}-->
<!--  </tbody>-->

<!--  </table>-->
