{% extends "base/base.html" %}
{% load staticfiles %}
{% block content %}  

<link rel="stylesheet" href="{% static 'css/colorPick.css' %}" />

<div class="container-fluid background-container">  
  <div class='card shadow-custom'>
    <div class='card-body mx-4 align-center'>
      <div class='row'>
        <div class='col col-12'>
          <h2>
            <span class='single-header'>{{obj}}</span>
          </h2>
        </div>
      </div>
      <hr />
      <div class='row'>
        <div class='col col-8'>
            Company Name<br/>
            Logo<br/>
            Admin Users<br/>
            How to User/Site Navigation<br/>
            Contact for Help/Feedback<br/>
        </div>
        <div class='col-4'>
          
          <div class='row'>
            {% include 'company_profile/employee_roles.html' %}
          </div>
          <div class='row'>
            {% include 'company_profile/location_category.html' %}
          </div>
        </div>
        
      </div>
      
      <hr />
    </div>
  </div>
</div>

<script type="text/javascript" src="{% static 'company_profile/js/colorPick.js' %}"></script>
<script type="text/javascript" src="{% static 'company_profile/js/company_profile.js' %}"></script>
{% endblock %}