{% extends "base/base.html" %}
{% load staticfiles %}
{% block content %}  
<div class='container px-0'>
  <form class='template-form'>
    <div class="container event-details">
      <div class='col-12 py-4'>
        <div class='event-header-details form-inline template-header'>
          
          {% with yesno_arg=title|add:',' %}
            <input class="form-control template-name" type="text" placeholder="Template Name" style='width:50%;' value='{{ title|yesno:yesno_arg }}' required {{title|yesno:'readonly,' }}><br />
          {% endwith %}
          
          
          {% if not new %}
          <button type="button" class="btn btn-dark ml-2 edit"><span>Edit</span></button><br />
          <p><a class='template-timestamps' style='font-size:1.2em;'>
            Created at: {{schedule.created}}
            {% if schedule.modified %}<br />Last modified: {{schedule.modified}} {% endif %}
          </a></p><br />
          {% endif %}
          <!--<button type="button" class="btn btn-dark ml-2 save"><span>Save</span></button>-->
          <!--<button type="button" class="btn btn-dark btn-lg ml-2 d-none"><span>Update</span></button>-->
        </div>
      </div>
    </div>
    <div class='container roster-body' style='background:white;'>
      <div class='col-12 py-3 control-panel-header'>
        <span>TEMPLATE</span>
        
        <a class='ml-2' data-toggle="collapse" href="#collapseCP" role="button" style='font-size:.6em; color:black;text-transform:uppercase;'><span>[Options]</span>
          <img class='ml-1' src='{% static "img/down-chevron.svg" %}' style='height:18px;margin-top:-2px;' alt="Plus Symbol" />
        </a>
        <button class='btn btn-dark float-right submit-schedule' type='submit'>Save</button>
        
      </div>
      <hr/>
      {% if new %}
      <div class='container px-0'>
        <div class='card show' id='collapseCP'>
          <div class='mx-3 mb-4'  style='background: #e8ebf1;'>
            <div class='card-body' style='margin-left:30px;margin-right:30px;color:#5e6673;'>
              {% include 'schedules/template_cp.html' %}
            </div>
          </div>
          <hr/>
        </div>
      </div>
      {% endif %}
      
      <div class='schedule-cards'>
        {% if not new %}
          {% include 'schedules/template.html' %}
        {% endif %}
      </div>
      
    </div>
  </form>
</div>

{% endblock %}