{% load staticfiles %}
<tbody>
  {% for template in templates %}
    <tr>
      <td>{{template.title}}</td>
      <td>{% include 'base/boolean.html' with bool=template.template %}</td>
      <td>0</td>
      <td>0</td>
      <td>
        <button type="button" class="btn js-update-object" data-url="{% url 'template_update' template.id %}">
          <img class='icon-edit 'src='{% static "events/img/edit.svg" %}' alt="Edit Icon"/>
        </button>
        <button type="button" class="btn js-delete-object" data-url="{% url 'template_delete' template.id %}">
          <img class='icon-delete 'src='{% static "events/img/delete.svg" %}' alt="Delete Icon"/>
        </button>
      </td>
    </tr>
  {% endfor %}
  </tbody>
  