{% load staticfiles %}
{% for category, options in d.items %}
  <div class='container' style='background-color:{{options.tertiary_color}}'>
    {{category}}<br />
    <div class='card-columns'>
    {% for location, attributes in options.locations.items %}
  
        
            {% if attributes.active %}
              {% with position=attributes.positions bar=attributes.bar active=attributes.active location_verbose=attributes.location location_id=location %}
                 {% if template %}
                  {% include 'event_templates/location_card.html' %}
                {% else %}
                  {% include 'events/detail/location_card.html' %}
                {% endif %}
              {% endwith %}
            {% endif %}
        
    {% endfor %}
    </div>
</div>
  {% endfor %}
        
      
      <hr />
      
      
      
      